@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a202c; /* Um cinza escuro confortável */
    color: #ffffff; /* Texto branco */
  }
  .btn {
    background-color: #2d3748; /* Botões mais escuros */
  }
}
